.sectionpadding{
    padding: 0 50px;
}

.first{
    display: flex;
    height: 85vh;
}

.blacksection{
    display: flex;
    gap: 10px;
}

.firstarraysection{
    width: 20%;
    padding-top: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.dividor{
    height: 100%;
    width: 0;
    margin: 0 10px;
}

.iphone{
    display: flex;
    align-items: center;
    width: 90%;
}

.iphone-section{
    display: flex;
    align-items: center;
    text-align: center;
    background: black;
    height: 90%;
    padding: 0 20px 0 70px;
}

.apple-icon{
    width: 15%;
}

.text-start{
    text-align: start;
}

.text-start > a{
    text-decoration: underline;
    color: #FAFAFA;
}

.text-start > div {
    display: flex;
    align-items: center;
}

.text-start > div > small{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #FAFAFA;
}

.voucher{
    font-family: Inter;
    font-weight: 600;
    font-size: 44px;
    color: #FAFAFA;
}

.iphone-icon{
    width: 90%;
}
